/* *{
    border: 1px dotted red;
} */
/* .navbar_{
    width: 100%;
} */
.ant-input {
  border: none;
  width: 70%;
}
.searchIcon {
  color: gray;
  margin-left: 12px;
}
/* .serach{
    width: 70%;
}
.leftIcons{
    width: 70%;
} */
.languageDropdown {
  border: none;
  cursor: pointer;
}
/* .ant-btn-default{
    border: none;
    background: none;
} */
.boxesIcon {
  font-size: 20px;
  margin: 0 24px;
}
.emailIcon {
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
}
.bellIcon {
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.badgeDot {
  position: relative;
  bottom: 20px;
}
.bellIcon {
  position: absolute;
  top: -3px;
}
.ant-badge .ant-badge-dot {
  top: 3.5;
  left: 10px;
  padding: 5px;
  bottom: 2px;
  background-color: #6571ff;
}
.four_Boxes {
  margin: 0 10px;
}
.avatar {
  margin-right: 30px;
}
.ant-avatar.ant-avatar-icon {
  font-size: 18px;
}

/* Responsive Web Design Media Queries */

/* @media only screen and (max-width: 425px) {
     .searchBar{
        display: block;
     }
    .navbar_{
        flex-direction: column;
    }
  } */

/* @media only screen and (max-width: 425px) {
  .navbar_ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .searchIcon {
    visibility: hidden;
  }
  .searchBar {
    font-size: 12px;
  }
  .languageDropdown {
    font-size: 12px;
  }
  .webappDropdown {
    font-size: 12px;
  }
  .four_Boxes {
    font-size: 12px;
  }
  .emailIcon {
    font-size: 20px;
  }
  .bellIcon {
    font-size: 20px;
    display: none;
  }
  .badgeDot {
    font-size: 12px;
  }
} */
