.Revenue {
  display: flex;
  width: 100%;
  margin: 2rem 1rem 2rem 1rem;
}
.revenue_Section {
  flex: 1;
}
.Revenue_discp {
  width: 160%;
  padding-bottom: 2rem;
}
.groupBtn {
  width: 50%;
  padding-bottom: 2rem;
  margin-left: 26rem;
}
.RingProgress {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rounded-circle {
  border-radius: 50% !important;
}
.Total {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-secondary {
  --bs-bg-opacity: 1;
  background-color: #e8edf3 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-primary {
  --bs-bg-opacity: 1;
  background-color: #5b8ff9 !important;
}
.p-1 {
  padding: 0.25rem !important;
}
.ms-1 {
  margin-left: 0.25rem !important;
}
.MONTHLY_STORAGE_graphs {
  margin: 2rem 0rem 2rem -2rem;
  display: flex;
}
.graph_ {
  flex: 1;
}
.MONTHLY_SALES_graph {
  margin: 2rem 1rem 2rem 2rem;
}
.CLOUD_STORAGE_graph {
  margin: 2rem 0rem 2rem 1rem;
}
.REVENUE_graph {
  margin: 2rem 1rem 2rem 2rem;
}
.inbox_projects {
  margin: 2rem 1rem 5rem 1rem;
}
.inbox_projects p .INBOX {
  padding: 2rem 0rem 5rem 0rem;
}
.title_doted {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
/* .INBOX{
  flex: 1;
} */

.inbox_projects {
  display: flex;
}
.last_boxes {
  flex: 1;
}
.ant-table-wrapper .ant-table-pagination.ant-pagination {
  display: none;
}

@media only screen and (max-width: 425px) {
  .REVENUE_graph {
    flex-direction: column;
    width: 30%;
  }
  .site-card-border-less-wrapper {
    width: 30%;
    flex-direction: column;
  }
  .title_doted {
    font-size: 0.875rem;
  }
  .Revenue {
    font-size: 0.75rem;
  }
  .groupBtn {
    margin-top: 8px;
    margin-top: 8px;
    padding: 0.25rem 0.5rem;
  }
}
@media only screen and (max-width: 800px) {
  .site-card-border-less-wrapper {
    width: 100px;
  }

  .title_doted {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Revenue {
    flex-direction: column;
  }

  .groupBtn {
    justify-content: center;
  }
}
